@font-face {
	font-family: 'BEYNO';
	src: url('../font/BEYNO.eot');
	src: url('../font/BEYNO.eot?#iefix') format('embedded-opentype'),
		url('../font/BEYNO.woff2') format('woff2'),
		url('../font/BEYNO.woff') format('woff'),
		url('../font/BEYNO.ttf') format('truetype'),
		url('../font/BEYNO.svg#BEYNO') format('svg');
	font-weight: normal;
	font-style: normal;
}