//Import font for document
@import url('https://fonts.googleapis.com/css?family=Lato');
//Colors
$logoColor: #503392;
$logoSubColor: #009dda;
$navColor: rgba(35,
35,
35,
0.5);
$searchColor: #e4e4f1;
$menuColor: rgba(0,
0,
0,
0.65);
$yellowColor: #fff200;
$whiteColor: #fdfdfd;
$menuItemHoverColor: #e1d407;
$arrowsBgColor: rgba(255,
255,
255,
.2);
$indicatorBgColor: #b7b7b7;
$blackColor: #232323;
$advantagesColor: #999999;
$cardColor: #503392;
$dotColor: #d7d7d7;
$btnColor: #373737;
$contactColor: #f3f3f3;
$copyColor: #7a7a7a;
//Fonts
$logoFont: "BEYNO",
sans-serif;
$mainFont: 'Lato',
sans-serif;
//Font size
$logoSize: 18px;
$navItemSize: 15px;
body {
  font-family: $mainFont;
}

/////////////
//Header
////////////
.header--navbar {
  height: 60px;
  margin-bottom: 0;
  border: none;
}

//Brand logo
.logo {
  font-family: $logoFont;
  font-size: $logoSize;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px; //Change Bootstrap
  margin-left: 72px !important;
  &--first {
    color: $logoColor;
  }
  &--second {
    color: $logoSubColor;
  }
}

//Bootstrap
.navbar-header {
  height: 60px;
  display: flex;
  align-items: center;
}

.nav {
  margin-right: 77px !important;
  height: 60px;
  &--item {
    color: $navColor;
    font-size: $navItemSize;
    font-weight: 400;
    padding: 20px 0 !important; //Change Bootstrap
    margin: 0;
    &:hover {
      background: none;
    }
  }
}

// //Navigation menu
// .navbar .dropdown a {
//   padding: 20px 0;
// }
li.navbar--item {
  height: 100%;
  margin: 0 23.5px;
  display: flex;
  align-items: center;
}

.navbar--item:last-child {
  margin: 0;
}

// .navbar-brand {
//   padding: 22px 16px;
// }
//search field in navigation
.search {
  //Change Bootstrap
  width: 150px !important;
  height: 25px;
  background-color: $searchColor;
  border: none;
  border-radius: 0;
  &--icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
  }
}

//Change Bootstrap style
.dropdown-menu {
  min-width: 155px;
  border-radius: 0;
  background-color: $menuColor;
  border-top: 2px solid $yellowColor;
  left: 0;
}

.menu--item {
  //Id is incorrect in BEM
  color: $whiteColor !important;
  font-size: 13px;
  &:hover {
    color: $menuItemHoverColor !important;
    background-color: transparent !important;
  }
}

//items in 2nd and 3rd level menu
.dropdown--item {
  margin-bottom: 6px;
  &:first-child {
    margin-top: 11px;
  }
  &:last-child {
    margin-bottom: 15px;
  }
}

.dropdown--item .menu3 {
  top: 0;
  margin: 0;
  z-index: -1;
}

.dropdown-menu>li>a {
  //change Bootstrap
  padding: 3px 15px;
}

//carousel indicator
ol {
  margin-bottom: 8px;
}

//Change Bootstrap
//arrows
.carousel-control {
  &.left {
    background-image: none;
  }
  &.right {
    background-image: none;
  }
  & .glyphicon {
    width: 50px;
    height: 50px;
    font-size: 8px;
    line-height: 50px;
    background-color: $arrowsBgColor;
    z-index: 1;
    &-chevron-left {
      left: 17%;
      top: 48%;
    }
    &-chevron-right {
      right: 17%;
      top: 48%;
    }
  }
}

.carousel-caption {
  position: absolute;
  width: 70%;
  top: 0;
  left: 15%;
  height: 100%; //Centering caption
  display: flex;
  align-items: center;
  justify-content: center;
}

//caption on banner
.caption {
  position: relative;
  top: -20px;
  &--header {
    font-weight: 600;
    font-size: 54px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 21px;
    &-styled {
      color: $yellowColor;
    }
  }
  &--description {
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    width: 633px;
    text-align: center;
    margin: 0 auto;
  }
}

//Change Bootstrap
//indicator of current slide
.carousel-indicators {
  & li {
    width: 7px;
    height: 7px;
    background-color: $indicatorBgColor;
    border: none;
  }
  & .active {
    background-color: white;
    width: 7px;
    height: 7px;
    margin: 1px;
    border: none;
  }
}

//Cross-browser gradient effect 
.carousel--filter {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  background: linear-gradient(-71deg, #503392 0%, #55359b 23%, #673ab7 49%, #00bff3 100%);
  opacity: .8;
}

///////////////
//Why choose us
///////////////
//Header in section
.advantages {
  &--header {
    font-size: 35px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    color: $blackColor;
    margin: 40px;
    &-styled {
      color: $logoSubColor;
    }
  }
  &--description {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: $advantagesColor;
    width: 670px;
    text-align: center;
    margin: 0 auto 100px;
  }
}

//cards in why choose us section
.cards {
  display: flex;
  justify-content: space-between;
}

//item in cards section (like, comment, flags..)
.card {
  width: 200px;
  height: 270px;
  text-align: center;
  border: 1px solid #ebebeb; //relate for hovering block
  position: relative;
  overflow: hidden; //Icon
  &--img {
    color: $cardColor;
    font-size: 60px;
    font-weight: 400;
    margin: 20px 0;
  } //Text content with title
  &--content {
    text-align: center;
    width: 160px;
    font-size: 14px;
    margin: 0 auto;
    &-header {
      color: $blackColor;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 14px;
    }
    &-text {
      color: $advantagesColor;
      font-weight: 400;
      line-height: 20px;
    } //Visisible section on hover in card
    &-hover {
      height: 0;
      width: 100%;
      background-color: $cardColor;
      transition: .6s;
      position: absolute;
      bottom: 0;
      color: white;
    }
    &-title {
      text-transform: uppercase;
    }
  }
}

.details--image-inverse {
  color: $cardColor;
}

//////////////
//Our products section
/////////////
//Header in this section
.products {
  background: url("../img/bg-polygon.png") no-repeat center;
  position: relative;
  &--title {
    height: 161px;
    background: url("../img/header.png") no-repeat center;
    position: relative;
    text-align: center; //header
    &-header {
      margin-top: 20px;
      font-size: 35px;
      font-weight: 700;
      line-height: 24px;
      text-transform: uppercase;
      color: white;
      position: relative;
      top: 50px;
      z-index: 10;
    }
  }
}

.title--header-styled {
  color: $yellowColor;
}

.noise {
  background: url("../img/bg-noise.png") no-repeat center;
  position: absolute;
  opacity: .2;
  width: 100%;
  height: 100%;
}

.svg {
  width: 100%;
  height: 161px;
  position: relative;
  top: -161px;
  z-index: 1;
}

//Our products
.products {
  &--content {
    z-index: 1;
  }
  &--content {
    display: none;
    transition: opacity 1s;
    opacity: 0;
    &-active {
      display: block;
      opacity: 1;
    }
  }
}

//Element of products
.product {
  display: flex;
  &--image {
    width: 145px;
    height: 145px;
    margin-right: 26px;
    margin-bottom: 103px;
  }
  &--title {
    color: $blackColor;
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
  }
  &--mark,
  &--text {
    font-weight: 400;
    line-height: 20px;
  }
  &--mark {
    color: $cardColor;
    font-size: 16px;
  }
  &--text {
    color: $advantagesColor;
    font-size: 14px;
  }
}

//Pagination 
.dots {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
  &--dot {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: $dotColor;
    margin-right: 7px;
    &:hover {
      cursor: pointer;
    }
    &:last-child {
      margin-right: 0;
    }
    &-active {
      background-color: $cardColor;
    }
  }
}

//////////////
//Footer
/////////////
//Headers
.headers {
  width: 670px;
  text-align: center;
  margin: 0 auto;
}

.contact {
  &--header {
    font-size: 35px;
    font-weight: 700;
    color: $blackColor;
    text-transform: uppercase;
    &-styled {
      color: $logoSubColor;
    }
  }
  &--description {
    font-size: 14px;
    font-weight: 400;
    color: $advantagesColor;
  }
}

.contacts {
  position: relative;
}

.contacts,
.js-map,
.map--filter {
  height: 634px;
  width: 100%;
}

.map--filter {
  background-color: rgba(0, 0, 0, 0.65);
  position: absolute;
  top: 0;
}

.info {
  background-color: rgba(26, 26, 26, 0.53);
  width: 945px;
  height: 435px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  color: $indicatorBgColor;
  &--form {
    width: 60%;
    display: flex;
    flex-direction: column;
  }
  &--details {
    width: 30%;
    color: $contactColor;
  }
}

//User contact info
.user {
  display: flex;
  justify-content: space-between;
  &--input {
    border-radius: 0;
    border: 2px solid #9a9999;
    background-color: transparent;
  }
  &--name,
  &--email {
    width: 48%;
  }
}

//Change Bootstrap
input[type=checkbox] {
  margin: 0;
}

.check {
  display: flex;
  align-items: center;
  &--checkbox {
    border: 1px solid #9a9999;
    width: 21px;
    height: 21px;
    border-radius: 0;
    color: #9a9999;
    text-align: center;
  }
  &--value {
    visibility: hidden;
  }
}

.submit {
  display: flex;
  justify-content: space-between;
  &--button {
    background-color: $yellowColor;
    width: 120px;
    height: 50px;
    color: $btnColor;
    border: none;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #1a1a1a;
  &--legal {
    font-size: 16px;
    font-weight: 400;
    color: $copyColor;
  }
  &--social {
    display: flex;
    list-style: none;
  }
}

/////////////
//Media query
////////////
@media (min-width: 768px) {
  //Change Bootstrap
  .navbar-right .dropdown-menu {
    left: 0;
  }
  .header--navbar {
    border-radius: 0;
  }
}