//Import font for document
@import url('https://fonts.googleapis.com/css?family=Lato');
//Colors
$logoColor: #503392;
$logoSubColor: #009dda;
$navColor: rgba(35,
35,
35,
0.5);
$searchColor: #e6e2ef;
$menuColor: rgba(0,
0,
0,
0.65);
$yellowColor: #fff200;
$whiteColor: #fdfdfd;
$menuItemHoverColor: #e1d407;
//Fonts
$logoFont: "BEYNO",
sans-serif;
$mainFont: 'Lato',
sans-serif;
//Font size
$logoSize: 30px;
$navItemSize: 16px;
body {
  font-family: $mainFont;
}

/////////////
//Header
////////////
.logo {
  font-family: $logoFont;
  font-size: $logoSize;
  font-weight: 400;
  text-transform: uppercase;
  &--first {
    color: $logoColor;
  }
  &--second {
    color: $logoSubColor;
  }
}

.nav--item {
  color: $navColor;
  font-size: $navItemSize;
  font-weight: 400;
  //Change Bootstrap
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.search {
  width: 180px;
  height: 31px;
  background-color: $searchColor;
  border: none;
  &--icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}

//Change Bootstrap style
.dropdown-menu {
  min-width: 183px;
  border-radius: 0;
  background-color: $menuColor;
  border-top: 2px solid $yellowColor;
  left: 0;
}

.menu--item {
  //Id is incorrect in BEM
  color: $whiteColor !important;
  &:hover {
    color: $menuItemHoverColor !important;
    background-color: transparent !important;
  }
}

.menu3 {
  top: 0;
  margin: 0;
  z-index: -1;
}

//////////////
//Footer
/////////////
.contacts,
.js-map {
  height: 634px;
  width: 100%;
}

/////////////
//Media query
////////////
@media (min-width: 768px) {
  //Change Bootstrap
  .navbar-right .dropdown-menu {
    left: 0;
  }
}
